<mat-toolbar color="primary">
  Directives & Pipes

  <a mat-raised-button class="navigation-item" routerLink="attribute-directive" routerLinkActive="router-link-active">
    Built-in Attribute Directive
  </a>

  <a mat-raised-button class="navigation-item" routerLink="structural-directive" routerLinkActive="router-link-active">
    Built-in Structural Directive
  </a>

  <a mat-raised-button class="navigation-item" routerLink="custom-attribute-directive" routerLinkActive="router-link-active">
    Custom Attribute Directive
  </a>

  <a mat-raised-button class="navigation-item" routerLink="built-in-pipes" routerLinkActive="router-link-active">
    Built-in Pipes
  </a>

  <a mat-raised-button class="navigation-item" routerLink="custom-pipes" routerLinkActive="router-link-active">
    Custom Pipes
  </a>

  <a mat-raised-button class="navigation-item" routerLink="async-pipe" routerLinkActive="router-link-active">
    Async Pipe
  </a>

  <a mat-raised-button class="navigation-item" routerLink="home-task" routerLinkActive="router-link-active">
    Home Task
  </a>
</mat-toolbar>

<div class="main-container">
  <router-outlet></router-outlet>
</div>
