.user-select {
  font-size: 15px;
  margin-bottom: -20px;
}

.ng-class-topic {
  .mediumpurple {
    color: mediumpurple;
  }

  .cornflowerblue {
    color: cornflowerblue;
  }

  .coral {
    color: coral;
  }
}
